.backend-container{
  display: flex;
  .backend-menu{
    background-color: #4B5F83;
    height: 100vh;
    width: 30%;
    a{
      display:block;
      color: #fff;
      &:link{
        text-decoration: none;
      }
    }
  }
}